<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
body{
    width:1000px;
    margin:60px auto;
}

</style>
</head>
<body>


<form method="post" action='/follow/follow' enctype="multipart/form-data" >
<h2>关注</h2>
    <div >session id</div><input type="text" name='sessionID'/><br/>
    <div >session key</div><input type="text" name='sessionKey'/><br/>
    <div >userID</div><input type="text" name='targetUserID'/><br/>
<input type="submit" value="提交"/>
</form>

<form method="post" action='/follow/cancle' enctype="multipart/form-data" >
<h2>取消关注</h2>
    <div >session id</div><input type="text" name='sessionID'/><br/>
    <div >session key</div><input type="text" name='sessionKey'/><br/>
    <div >userID</div><input type="text" name='targetUserID'/><br/>
<input type="submit" value="提交"/>
</form>
</body>
</html>
