<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
body{
    width:1000px;
    margin:60px auto;
}

</style>
</head>
<body>


<form method="post" action='/chat/send_msg' enctype="multipart/form-data" >
<h2>发送消息</h2>
<div >session id</div><input type="text" name='sessionID'/><br/>
<div >session key</div><input type="text" name='sessionKey'/><br/>
<div >receiverID</div><input type="text" name='receiverID'/><br/>
<div >msgContent</div><input type="text" name='msgContent'/><br/>
<input type="submit" value="提交"/>
</form>

<form method="post" action='/chat/get_contact_list' enctype="multipart/form-data" >
<h2>获取联系人列表</h2>
<div >session id</div><input type="text" name='sessionID'/><br/>
<div >session key</div><input type="text" name='sessionKey'/><br/>

<input type="submit" value="提交"/>
</form>

<form method="post" action='/chat/get_unread_msgs' enctype="multipart/form-data" >
<h2>获取未读消息列表</h2>
<div >session id</div><input type="text" name='sessionID'/><br/>
<div >session key</div><input type="text" name='sessionKey'/><br/>
<div >senderID</div><input type="text" name='senderID'/><br/>
<input type="submit" value="提交"/>
</form>

<form method="post" action='/chat/get_all_msgs' enctype="multipart/form-data" >
<h2>获取所有消息列表</h2>
<div >session id</div><input type="text" name='sessionID'/><br/>
<div >session key</div><input type="text" name='sessionKey'/><br/>
<div >senderID</div><input type="text" name='senderID'/><br/>
<input type="submit" value="提交"/>
</form>
</body>
</html>