{% extends 'web/base.html'%}
{%block content %}
<div class="jumbotron">
      <div id="qingmingchuyou" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#qingmingchuyou" data-slide-to="0" class="active"></li>
            <li data-target="#qingmingchuyou" data-slide-to="1"></li>
            <li data-target="#qingmingchuyou" data-slide-to="2"></li>
              <li data-target="#qingmingchuyou" data-slide-to="3"></li>
              <li data-target="#qingmingchuyou" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/static/images/出游/幻灯片1.jpg">
            </div>
            <div class="item">
              <img src="/static/images/出游/幻灯片2.jpg">
            </div>
              <div class="item">
              <img src="/static/images/出游/幻灯片3.jpg">
            </div>
                  <div class="item">
              <img src="/static/images/出游/幻灯片4.jpg">
            </div>
                  <div class="item">
              <img src="/static/images/出游/幻灯片5.jpg">
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#qingmingchuyou" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#qingmingchuyou" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
    </div>
</div>

    <div class="container">
      <div id="xueshengjie" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#xueshengjie" data-slide-to="0" class="active"></li>
            <li data-target="#xueshengjie" data-slide-to="1"></li>
            <li data-target="#xueshengjie" data-slide-to="2"></li>
              <li data-target="#xueshengjie" data-slide-to="3"></li>
              <li data-target="#xueshengjie" data-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/static/images/学生节/img0.jpg">
            </div>
            <div class="item">
              <img src="/static/images/学生节/img1.jpg">
            </div>
              <div class="item">
              <img src="/static/images/学生节/img2.jpg">
            </div>
                  <div class="item">
              <img src="/static/images/学生节/img3.jpg">
            </div>
                  <div class="item">
              <img src="/static/images/学生节/img4.jpg">
            </div>
              <div class="item">
              <img src="/static/images/学生节/img5.jpg">
            </div>
              <div class="item">
              <img src="/static/images/学生节/img6.jpg">
            </div>
              <div class="item">
              <img src="/static/images/学生节/img7.jpg">
            </div>
              <div class="item">
              <img src="/static/images/学生节/img8.jpg">
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#xueshengjie" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#xueshengjie" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
    </div>
            </div>
{% endblock %}