{% extends 'web/base.html'%}
{%block content %}
    <div class="jumbotron">
        <h1>清华北大学子在线一对一辅导</h1>
        <p style="font-size: 18px"><span style="font-size:24px">“作业控”</span>搭建起中小学生和清华北大学生线上一对一辅导的平台，通过同步画板和语音的方式，让双方有着面对面的交互体验。我们的老师都是经过选拔和认证的清华北大学生，能给孩子提供最真实有效的解题思路和学习方法</p>
        <p style="font-size: 18px">现在我们已经开发出了iPad端的产品，将于5月底上线。</p>
         <p style="font-size: 18px">您可以携带您的iPad到公司预装体验版（公司地址：清华科技园科技大厦C座一层 启迪孵化器）</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button" data-toggle="modal" data-target="#registerModal">开始体验</a></p>
      </div>


    <div class="row">
        <div class="col-lg-4">
          <h2>解决孩子的作业问题</h2>
          <p>中小学生在家里做作业时，有时候会遇到无法解决的难题。家长如果没有时间或没有能力及时帮助孩子解决问题，问题就会留到明天。</p>
          <p>“作业控”旨在解决孩子的作业辅导问题</p>
            <p><a class="btn btn-primary" href="/product" role="button">产品介绍 »</a></p>
        </div>
        <div class="col-lg-4">
          <h2>清华北大学子资源</h2>
          <p>“作业控”上的老师都是经过选拔和认证的清华北大学生，他们都有各自擅长的学科，并有着独特的解题思路，带着孩子由浅入深解决作业题，并让他掌握举一反三的能力。</p>
            <p><a class="btn btn-default" href="#" role="button">导师团介绍 »</a></p>
       </div>
        <div class="col-lg-4">
          <h2>私人定制的增值服务</h2>
          <p>“作业控”不仅仅是一个解决作业题的平台，我们会根据孩子的情况提供一套定制的学习方法，让您的孩子更好的利用好课堂和作业轻松地提高成绩。</p><p>同时我们也有很多线下的活动，让孩子和清华北大的学生面对面的一起出游、交流，感受榜样的力量。</p>
          <p><a class="btn btn-primary" href="/activity" role="button">线下活动 »</a></p>
        </div>
      </div>

    <!-- register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">产品体验</h4>
      </div>
      <div class="modal-body">
         <p>由于产品尚未上线，您可以通过电话010-57341801联系我们，到我们公司预装。</p>
          <p>iPad将于6月底上线AppStore ，敬请关注</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <!--<button type="button" class="btn btn-primary">确认</button>-->
      </div>
    </div>
  </div>
</div>
<!--End  register modal>
{% endblock %}