
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="中时通（北京）科技有限公司专注于为中小学教育提供移动互联解决方案，作业控是一款让中小学生可以与清华北大学生在线实时交互讲题的产品">
    <meta name="author" content="zuoyekong@sina.com">
    <link rel="shortcut icon" href="../../static/dist/favicon.ico">

    <title>作业控</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/dist/css/bootstrap.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../../static/dist/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">作业控</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <li ><a href="/product">产品</a></li>
                {% if username %}<li ><a href="/homepage">个人中心</a></li>
                  <li ><a href="/record">使用记录</a></li>{% endif %}
              </ul>
                <ul class="nav navbar-nav navbar-right" style="margin-right:15px">
                    {% if username %}
                        <li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ username }} <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                <li><a href="/homepage">管理</a></li>
                                <li><a href="/web/logout">登出</a></li>
                                </ul>
                            </li>
                        </li>
                    {% else %}
                    <li><a href="#loginModal" data-toggle="modal" data-target="#loginModal">登录</a></li>
                    <li><a href="#regesiterModal" data-toggle="modal" data-target="#registerModal">注册</a></li>
                    {% endif %}
                </ul>
                <!--
                <ul class="nav navbar-nav navbar-right" style="margin-right:15px">
                    <li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">xiaoh16@gmail.com <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">管理</a></li>
                        <li><a href="#">登出</a></li>
                        </ul>
                    </li>
                  </ul>-->
            </div>
          </div>
        </div>

      </div>
    </div>
<!-- login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">登录</h4>
      </div>
        <form role="form" class="form-horizontal" action = "/web/logindo" method="GET">
      <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10"><input type="text" class="form-control" name="username" ></div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10"><input type="password" class="form-control" name="password"></div>
          </div>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary">登录</button>
      </div>
        </form>
    </div>
  </div>
</div>
<!--End  login modal>
<!-- register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">用户注册</h4>
      </div>
      <div class="modal-body">
        为了控制用户质量，现暂不提供线上注册，请联系 15801000575（董先生）进行注册
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <!--<button type="button" class="btn btn-primary">确认</button>-->
      </div>
    </div>
  </div>
</div>
<!--End  register modal>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
		  <img src="../../static/images/1.jpg"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>随时随地解决学习问题</h1>
              <p>通过在线交互的方式，随时随地向清华北大学生请教学习问题</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">现在加入</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
		  <img src="../../static/images/2.jpg"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>榜样的力量引导成长</h1>
              <p>面对面地与清北学生请教学习方法，探讨人生哲理</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">现在报名</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
		  <img src="../../static/images/3.jpg"/>
          <div class="container">
            <div class="carousel-caption">
              <h1>将你的知识转化为财富</h1>
              <p>加入我们的教师团队，让你足不出户便可以将知识转化为财富</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">成为老师</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
    <div class="row" style="background-color: #aea79f;margin:0">
        <div class="col-md-offset-2 col-md-8"><img src="../../static/images/jieshao.png" width="90%"/></div>
    </div>
    <div class="row" style="background-color: #669999;margin:0">

        <div class="col-md-offset-2 col-md-8"><img src="../../static/images/liucheng.png" width="90%"/></div>
    </div>




      <!-- FOOTER -->
      <footer style="margin-top:40px">
        <p style="text-align: center"><span class="glyphicon glyphicon-envelope"></span> zuoyekong@sina.com <span class="glyphicon glyphicon-phone"></span> 010-57341801 </p>
        <p style="text-align: center">©2014 中时通（北京）科技有限公司 <a target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备14013204号</a></p>
      </footer>


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../static/dist/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/holder/2.0/holder.min.js"></script>
  </body>
</html>
