<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="中时通（北京）科技有限公司专注于为中小学教育提供移动互联解决方案，作业控是一款让中小学生可以与清华北大学生在线实时交互讲题的产品">
    <meta name="author" content="zuoyekong@sina.com">
    <link rel="shortcut icon" href="../../static/dist/favicon.ico">

    <title>作业控 | 支付</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/dist/css/bootstrap.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../../static/dist/carousel.css" rel="stylesheet">
  </head>
  <body style="margin-top: 60px;">
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <a href="/record">返回</a>
            <h3>作业控充值订单</h3>
        <table class="table table-bordered" >
          <tbody>
            <tr><td>用户帐号</td><td>{{ user.userName }}</td></tr>
            <tr><td>用户姓名</td><td>{{ user.realname }}</td></tr>
            <tr><td>帐单号</td><td>{{ params.out_trade_no }}</td></tr>
            <tr><td>充值金额</td><td>{{ total_fee }}</td></tr>
          <tr><td></td><td>
                    <form name='alipaysubmit' action='https://www.alipay.com/cooperate/gateway.do?_input_charset=UTF-8' method='POST'>
                    <input type='hidden' name='body' value='{{ params.body }}' />
                    <input type='hidden' name='seller_email' value='zuoyekong@163.com' />
                    <input type='hidden' name='service' value='create_direct_pay_by_user' />
                    <input type='hidden' name='show_url' value='http://59.66.138.96:8000/record' />
                    <input type='hidden' name='sign' value='{{ sign }}' />
                    <input type='hidden' name='out_trade_no' value='{{ params.out_trade_no }}' />
                    <input type='hidden' name='payment_type' value='1' />
                    <input type='hidden' name='total_fee' value='{{ total_fee }}' />
                    <input type='hidden' name='sign_type' value='MD5' />
                    <input type='hidden' name='notify_url' value='http://59.66.138.96:8000/pay_callback' />
                    <input type='hidden' name='partner' value='2088311329596377' />
                    <input type='hidden' name='return_url' value='http://59.66.138.96:8000/record' />
                    <input type='hidden' name='subject' value='{{ params.subject }}' />
                    <button type="submit" class="btn-primary">确认，支付宝付款</button>
                </form>
          </td></tr>
          </tbody>
        </table>
        </div>
        </div>
   <!-- FOOTER -->
      <footer>
       <p style="text-align: center"><span class="glyphicon glyphicon-envelope"></span> zuoyekong@sina.com <span class="glyphicon glyphicon-phone"></span> 010-57341801 </p>
        <div style="text-align: center">©2014 中时通（北京）有限公司 <a target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备14013204号</a></div>
      </footer>
</body>
</html>