{% extends 'web/base.html'%}
{%block content %}
  <!-- START THE FEATURETTES -->

<div class="container marketing" style="margin-top: 100px;">
      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">学生客户端 <span class="text-muted">发布问题</span></h2>
          <p class="lead">中小学生在遇到不会的作业题或者学习方法的疑惑，可以随手通过拍照的方式在“作业控”上发布一个问题</p>
        </div>
        <div class="col-md-6">
		<img src="../../static/images/product/student.jpg" style="width:100%"/>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <img src="../../static/images/product/teacher.jpg" style="width:100%"/>
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading">教师客户端 <span class="text-muted">应征问题</span></h2>
          <p class="lead">大学生教师可以选择自己擅长的题目应征解答，解答的报酬按照时间计费</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">交互画板与视频聊天</h2>
          <p class="lead">老师应征回答题目，学生选择感兴趣的老师，就可以开始解答了。作业控通过“画板+音频”的方式努力达到面对面交流的体验，也可以使用视频进行交流哦！</p>
        </div>
        <div class="col-md-6">
          <img src="../../static/images/product/interact.jpg" style="width:100%"/>
        </div>
      </div>
      <hr class="featurette-divider">
</div>
      <!-- /END THE FEATURETTES -->
{% endblock %}