{% extends "web/manage/__manage_base__.html" %}
{% block css %}

    <link href="/static/dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock %}
{% block content %}
       <div class="container">
       <div class="container">
           <form class="navbar-form navbar-left" role="search" action="/manage" method="post">
              <div class="form-group">
                <input type="hidden" name="state" value="finished">
                  从
                <input type="text" name="start_time" class="form-control"  value="{{ start_time }}" id="datetimepicker1" data-date-format="yyyy-mm-dd hh:ii">
                  到

                <input type="text" name="end_time" class="form-control" value="{{ end_time }}" id="datetimepicker2" data-date-format="yyyy-mm-dd hh:ii">
                  最短计费时间
                <select class="form-control" name="mintime">
                    <option value="0" {% if mintime == 0 %}selected {% endif %}>0分钟</option>
                    <option value="5" {% if mintime == 5 %}selected {% endif %}>5分钟</option>
                    <option value="10" {% if mintime == 10 %}selected {% endif %}>10分钟</option>
                </select>


              </div>
              <button type="submit" class="btn btn-primary">查询</button>
            </form>
           <form class="navbar-form navbar-left" role="search" action="/manage" method="post">
               <input type="hidden" name="state" value="isgoing">
               <button type="submit" class="btn btn-default">查看正在进行</button>
               </form>
       </div>


    <h3>作业控时间记录</h3>
     <table class="table table-bordered">
      <thead>
        <tr>
          <th>会话时间</th>
          <th>学科</th>
          <th>老师账号</th>
          <th>老师姓名</th>
          <th>学生账号</th>
            <th>学生姓名</th>
          <th>总时长(分钟)</th>
          <th>计费时长（分钟）</th>
        </tr>
      </thead>
      <tbody>
        {% if dialogs %}
          {% for dialog in dialogs %}
              <tr>
              <th>{{ dialog.created_time }}</th>
              <th>{{ dialog.subject }}</th>
              <th>{{ dialog.teacher }}</th>
              <th>{{ dialog.teacherName }}</th>
              <th>{{ dialog.student }}</th>
              <th>{{ dialog.studentName }}</th>
              <th>{{ dialog.all_time }}</th>
              <th>{{ dialog.charging_time }}</th>
              </tr>
          {% endfor %}
      {% endif %}
      </tbody>
    </table>

    </div> <!-- /container -->

{% endblock %}
{% block js %}
    <script src="/static/dist/js/bootstrap-datetimepicker.min.js"></script>
    <script>
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker();
    </script>
{% endblock %}

