<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>作业控后台管理</title>

   <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and static queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">作业控</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/manage">教学记录</a></li>
        <li ><a href="/manage/adduser">添加用户</a></li>
         <li  class="active"><a href="/manage/userlist">用户列表</a></li>

          </ul>
         </div>
      </div>
</nav>

       <div class="container">
    <h3>用户列表</h3>
     <table class="table table-bordered">
      <thead>
        <tr>
          <th>用户名</th>
          <th>真实姓名</th>
            <th>类型</th>
          <th>学校</th>
            <th>相关学科</th>
            <th>头像</th>

        </tr>
      </thead>
      <tbody>
        {% if users %}
          {% for u in users %}
              <tr>
              <th>{{ u.userName }}</th>
              <th>{{ u.realname }}</th>
              <th>{{ u.userType }}</th>
              <th>{{ u.school }}</th>
                  <th>{{ u.good_at }}</th>
              <th><img src='{{ u.headImage }}' style="height:100px"/></th>
              </tr>
          {% endfor %}
      {% endif %}
      </tbody>
    </table>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
