[Desktop Entry]
Encoding=UTF-8
Name=到 http://hdn.xnimg.cn/photos/hdn421/20130402/1240/h_large_AApr_f29f00000206111a.jpg 的链接
Type=Link
URL=http://hdn.xnimg.cn/photos/hdn421/20130402/1240/h_large_AApr_f29f00000206111a.jpg
Icon=image-jpeg
