<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>作业控个人中心</title>

   <!-- Bootstrap core CSS -->
    <link href="/media/dist/css/bootstrap.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">作业控</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="/profile?username={{ user.userName }}&key={{ user.password }}">个人信息</a></li>
        <li class="active"><a href="/timesheet?username={{ user.userName }}&key={{ user.password }}">教学记录</a></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{ user.userName }}</a></li>
            <li><a href="/">退出</a></li>
            </ul>
         </div>
      </div>
</nav>

       <div class="container">
    <h3>作业控时间记录</h3>
     <table class="table table-bordered">
      <thead>

        <tr>
          <th>会话时间</th>
          <th>{% if user.userType == 1 %}老师账号{% else %}学生账号{% endif %}</th>
          <th>{% if user.userType == 1 %}老师姓名{% else %}学生姓名{% endif %}</th>
          <th>学科</th>
          <th>总时长(分钟)</th>
          <th>计费时长（分钟）</th>
          <th>费用（元）</th>
        </tr>
      </thead>
      <tbody>
        {% if dialogs %}
          {% for dialog in dialogs %}
              <tr>
              <th>{{ dialog.created_time }}</th>
              <th>{{ dialog.other }}</th>
              <th>{{ dialog.otherName }}</th>
              <th>{{ dialog.subject }}</th>
              <th>{{ dialog.all_time }}</th>
              <th>{{ dialog.charging_time }}</th>
              <th>{{ dialog.fee }}</th>
              </tr>
          {% endfor %}
      {% endif %}
      </tbody>
    </table>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
